@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #333;
}

h2{
    font-size: 2rem;
    line-height: 64px;
    color: #333;
}
h3{
    font-size: 1.5rem;
    line-height: 64px;
    color: #333;
}

h4{
    font-size: 1.2rem;
    line-height: 64px;
    color: #333;
}

h5{
    font-size: 1.1rem;
    line-height: 64px;
    color: #333;
}

h6{
    font-size: 1rem;
    line-height: 64px;
    color: #333;
}

p{
    font-size: 1rem;
    line-height: 64px;
    color: #666;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    padding: 20px 0;
}

body{
    width:100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgba(250, 233, 3, 0.726);
    box-shadow: 0 5px 15px rgba(0, 4, 255,0.6);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
    transition: color 0.3s ease;
}

#navbar li a :hover,
#navbar li a.active{  
    color: #090261;
}

#navbar li a.active::after{
    content: "";
    width: 30%;
    height:2px;
    background: #090261;
    position: absolute;
    bottom: -4px;
    left: 20px;
}